@model ExamSkillProject.Models.Company


<h1>Create company</h1>
<div class="info-data">

    @using (Html.BeginForm("Create", "Company", FormMethod.Post, new { @class = "form-horizontal col-md-6 center-block", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Address, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("File", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBox("file", "", new { type = "file", @class = "form-control" }) <br />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="NEXT STEP" class="btn btn-primary" />
            </div>
        </div>

    }

</div>