@model ExamSkillProject.Models.Company

<h2>Company</h2>


@if (Model != null)
{
    <h3>@Model.Name</h3>

    <p>@Model.Description</p>

    <p>@Model.Address</p>

    @Html.ActionLink("EDIT COMPANY PROFILE", "Edit", "Company", new { }, null);
    
}else
{
    @Html.ActionLink("CREATE COMPANY", "Create", "Company", new { }, null);
}
