@model ExamSkillProject.Models.Company


<h1>Company info</h1>
@if (Request.IsAuthenticated)
{
    if (Model != null)
    {
        <h2>@Model.Name</h2>
        <p>@Model.Description</p>
        <p>@Model.Address</p>

        <img src= "@Url.Content($"~/UploadedFiles/{Model.Icon}")" alt="Alternate Text" />

        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("EDIT COMPANY PROFILE", "Edit", "Company", new { }, new { @class = "btn btn-primary" });
        }
    }
    else
    {
        <p>You don't have a company yet.</p>

        @Html.ActionLink("CREATE COMPANY", "Create", "Company", new {  }, new { @class = "btn btn-primary"});
    }

}
