@model ExamSkillProject.Models.Skill


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SkillDetails</title>
</head>
<body>
    <div>
        <h4>SkillDetails</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>

                @Html.DisplayNameFor(model => model.SkillIcon)
            </dt>

            <dd>
                @foreach (var imgPath in Directory.GetFiles(Server.MapPath("~/UploadedFiles"), "*.png"))
                {
                var img = new FileInfo(imgPath);
                <img src="@Url.Content(String.Format("~/UploadedFiles/{0}", img.Name))" />
                }

            </dd>
            <dt>
              
                @Html.DisplayNameFor(model => model.SkillName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SkillName)
            </dd>
            <dt>

                @Html.DisplayNameFor(model => model.SkillDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SkillDescription)
            </dd>

           

            

        </dl>


    </div>
    @if (User.IsInRole("Admin"))
    {
        <p>@Html.ActionLink("Add New Skill", "CreateSkill")</p>
    }
    <p>
        @Html.ActionLink("Back to List", "ShowAllSkills")
    </p>
</body>
</html>
