@using ExamSkillProject.Models;
@using System.Collections;
@using System.Linq;
@model Tuple<ExamSkillProject.Models.Skill, List<ExamSkillProject.Models.ApplicationUser>, List<ExamSkillProject.Models.Assignment>>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SkillDetails</title>
</head>
<body>
<div class="col-md-12">
    <div class="form-horizontal col-md-6">
        <h4>SkillDetails</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>

                @Html.DisplayNameFor(tuple => tuple.Item1.SkillIcon)
            </dt>

            <dd>
                @foreach (var imgPath in Directory.GetFiles(Server.MapPath("~/UploadedFiles"), "*.png"))
                {
                    if (imgPath == Model.Item1.SkillIcon)
                    {
                        var img = new FileInfo(imgPath);
                        <img src="@Url.Content(String.Format("~/UploadedFiles/{0}", img.Name))" />
                    }

                }


            </dd>
            <dt>

                @Html.DisplayNameFor(tuple => tuple.Item1.SkillName)
            </dt>

            <dd>
                @Html.DisplayFor(tuple => tuple.Item1.SkillName)
            </dd>
            <dt>

                @Html.DisplayNameFor(tuple => tuple.Item1.SkillDescription)
            </dt>

            <dd>
                @Html.DisplayFor(tuple => tuple.Item1.SkillDescription)
            </dd>


        </dl>


    </div>
    <div class="form-horizontal col-md-6">
        <h4 style="text-align:center">Assign Skill To Employee</h4>
        <hr />

        <div class="form-horizontal">

            <div class="form-group col-md-12">

                <div class="dropdown col-md-6">

                    <button class="btn btn-default dropdown-toggle col-md-12" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Select Employee From List
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="position:relative" aria-labelledby="dropdownMenu1">
                             @*@if (Model.Item3 == null)
                             {
                                 foreach (var user in Model.Item2)
                                 {
                                    <li>@Html.ActionLink(user.FirstName + " " + user.LastName, "AssignSkill", new { userId = user.Id, skillId = Model.Item1.SkillId })</li>
                                 }
                             }
                             else
                             {*@
                                @{
                                    
                                    List<string> foundUsers = new List<string>();

                                    foreach (var assignment in Model.Item3)
                                    {
                                        if (assignment.SkillId == Model.Item1.SkillId)
                                        {                                         
                                        foundUsers.Add(assignment.UserId);
                                        }
                                    }
                                                                      
                                        foreach (var user in Model.Item2)
                                        {
                                            if (!foundUsers.Contains(user.Id))
                                            {
                                            <li>@Html.ActionLink(user.FirstName + " " + user.LastName, "AssignSkill", new { userId = user.Id, skillId = Model.Item1.SkillId }) </li>
                                            }
                                            
                                        }
                                         
                                     
                                 }
                             
                                       
                        

                           
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Noone</a></li>
                    </ul>
                </div>


                <label class="control-label col-md-6" for="EmployeeFullName">Currently Assigned Employees</label>
                <div class="col-md-6">
                    @if (Model.Item3 == null)
                    {
                        <p>Noone assigned to this skill yet</p>
                    }
                    else
                    {
                        foreach (var assignment in Model.Item3)
                        {

                            if (assignment.SkillId == Model.Item1.SkillId)
                            {
                                foreach (var user in Model.Item2)
                                {
                                    if (user.Id == assignment.UserId)
                                    {
                                        <p>@user.FirstName @user.LastName  |  @Html.ActionLink("unassign", "Unassign", new { skillId = Model.Item1.SkillId, assignmentId = assignment.AssignmentId})</p>
                                    }
                                }

                            }

                        }
                    }
                   

                </div>
            </div>

        </div>


    </div>

    <div class="col-md-12">
        @if (User.IsInRole("Admin"))
        {
            <p>@Html.ActionLink("Add New Skill", "CreateSkill") | @Html.ActionLink("Back to List", "ShowAllSkills") | @Html.ActionLink("Delete Skill", "DeleteSkill", new { skillId = Model.Item1.SkillId}) </p>

        }
        else
        {
          <p> @Html.ActionLink("Back to List", "ShowAllSkills") </p>
        }
       
    </div>
  </div>
</body>
</html>
